body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: #61467f;
}
.header-container{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin: 15px 0;
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
}
header ul li{
    list-style-type: none;
    display: inline;
    padding-left: 5px;
}
header a:hover{
    border-bottom: 2px solid #303436;
}
header a{
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}


main{
    padding: 0 210px 0 170px;
    background-color: #61467f;
}
.main-container{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 550px 400px;
    gap: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}
input{
    display: block;
    padding: 3px;
    font-size: 18px;
    font-weight: 500;
    background-color: #3b3b3b;
    border: 0;
    width: 100%;
    margin: auto;    
    margin-bottom: 30px;
    letter-spacing: -1px;
}
input[type="submit"] {
    width: 100px;
    background-color: #61467f;
    color: #c8c3bc;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 10px 0;
    border-radius: 5px;
    margin: 0;
}
input[type="submit"]:hover{
    cursor: pointer;
    padding: 9px 0;
    width: 30%;
    margin-left: 2px;
    letter-spacing: 0;
}
.submit{
    height: 40px;
    display: flex;
    align-items: center;
}

.main-container .r{
    background-color: #181a1b;
    padding: 40px;
    border-radius: 10px;
    margin-top: 100px;
}
form{
    margin: auto;
}
form h2{
    font-weight: 500;
    color: #c8c3bc;
    margin: 10px 0 30px 0;
}
.main-container .l h1{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}
.rm{
    height: 60px;
    width: 550px;
    display: flex;
    align-items: center;
}
.main-container .l h3{
    font-weight: 500;
    font-size: 16px;
    padding: 15px 30px;
    border: 1px solid #3b3b3b;
    border-radius: 6px;
    width: 15%;
    margin: 0;
    text-align: center;
}
.main-container .l h3:hover{
    padding: 14px 28px;
    margin-left: 2px;
    font-size: 15.5px;
    text-align: center;
    cursor: pointer;
}
.main-container .l p{
    line-height: 1.5;
}
.skewed{
    padding: 0 200px 0 170px;
    background-color: #181a1b;
}


.top-container{
    padding: 0 200px 0 170px;
}


.bottom-container{
    padding: 0 200px 0 170px;
}


.hosting-container{
    padding: 0 200px 0 170px;
}


.languages-container{
    padding: 0 200px 0 170px;
}


footer{
    padding: 0 200px 0 170px;
}